.rs-table-word-wrap .rs-table-cell-content {
  word-break: break-word !important;
  line-height: 1.8;
}

.slicers-board-list {
  margin-top: 10px;
  margin-right: 0 !important;
}

.next-page-title {
  line-height: 2.7 !important;
  margin-left: 10px;
}

.accordion button::before {
  top: 30px !important;
}

.cta-text {
  font-size: 29px !important;
}

.rs-nav-item-content {
  color: "#535CA3" !important;
  font-weight: "bold" !important;
  font-size: "15px" !important;
}

a {
  color: "#535CA3" !important;
  font-weight: "bold" !important;
  font-size: "15px" !important;
}
.btns {
  background: transparent;
  padding-bottom: 0;
  color: #a9a9a9;
  font-weight: bold;
  outline: none;
  border: none;
}

.btns:focus {
  background: transparent;
  padding-bottom: 0;
  border-bottom: 2px solid;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #5861a6;
  font-weight: bold;
}

td {
  padding: 0.5rem !important;
  width: 7rem !important;
}
